body {
    margin: 8px auto;
    max-width: 940px;
}

#flash {
    background-color: rgba(238, 238, 238, 0.95);
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #555555;
    margin: 2em auto;
    min-height: 10em;
    padding: 1em;
}

#footer {
    border-top: 1px solid #999999;
    color: #999999;
    font-size: smaller;
    margin-top: 22px;
    padding-top: 0.5em;
}

#b1 {
    position: absolute;
}

.baddie {
    background-image: url("img/sprite_mickey_mos.png");
    cursor: pointer;
    height: 64px;
    transition: all 1.5s ease-in-out 0s;
    width: 64px;
}
.baddie.up {
    background-position: 64px 0;
}
.baddie.down {
    background-position: 128px 0;
}
.baddie.left {
    background-position: 192px 0;
}
.baddie.right {
    background-position: 0 0;
}
.baddie.flip {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.baddie.flipx2 {
    -webkit-transform: rotate(-540deg);
    transform: rotate(-540deg);
}
.baddie.size-half {
    transform: scale(0.5);
}
.baddie.size-double {
    transform: scale(2);
}
.baddie.skew-horisontal {
    transform: skew(30deg, 0deg);
}
.baddie.skew-vertical {
    transform: skew(0deg, 30deg);
}
.baddie.skew-vertical {
    transform: skew(0deg, 30deg);
}
.baddie.move {
    transform: translate(100px, 100px);
}
.baddie.move-flip {
    transform: rotate(180deg) translate(100px, 100px);
}

td {
    width: 140px;
}

